//=============== VARIABLES =====================
$body-background: #fff;
$text_color1: #2ecc71;
$text_color2: #737373;
$text_color3: #a5a5a5;
$menu_bkg: #44433e;
$h1--fontSize: 2.6rem;
$h2--fontSize: 1.4rem;
$h3--fontSize: 1.1rem;

@mixin slideUp() {
  max-height: 0;
  overflow-y: hidden;
  @include transitionAll(0.8s);
}

@mixin slidedown($max-height) {
  max-height: $max-height;
}

@mixin transitionAll($time) {
  -webkit-transition: all $time ease-in-out;
  -moz-transition: all $time ease-in-out;
  -o-transition: all $time ease-in-out;
  transition: all $time ease-in-out;
}

@mixin transitionOpacity($time) {
  -webkit-transition: opacity $time ease-in-out;
  -moz-transition: opacity $time ease-in-out;
  -o-transition: opacity $time ease-in-out;
  transition: opacity $time ease-in-out;
}

@mixin transitionHeight($time) {
  -webkit-transition: height $time ease-in-out;
  -moz-transition: height $time ease-in-out;
  -o-transition: height $time ease-in-out;
  transition: height $time ease-in-out;
}

@mixin transitionWidth($time) {
  -webkit-transition: width $time ease-in-out;
  -moz-transition: width $time ease-in-out;
  -o-transition: width $time ease-in-out;
  transition: width $time ease-in-out;
}

@mixin overlayBkg() {
  background-color: #2ecc71;
  opacity: 0.83;
  filter: alpha(opacity=83);
}

@mixin bottomBorderRadius($radius){
  -moz-border-radius-bottomleft: $radius;
  -moz-border-radius-bottomright: $radius;
  border-bottom-left-radius:$radius;
  border-bottom-right-radius:$radius;
}
//
//@mixin placeholder($element, $color){
//  $element::-webkit-input-placeholder { /* Chrome */
//    color: $color;
//  }
//  $element:-ms-input-placeholder { /* IE 10+ */
//    color: $color;
//  }
//  $element::-moz-placeholder { /* Firefox 19+ */
//    color: $color;
//    opacity: 1;
//  }
//  $element:-moz-placeholder { /* Firefox 4 - 18 */
//    color: $color;
//    opacity: 1;
//  }
//}

// ========== fonts ===========
@font-face {
  font-family: 'Berlin-Sans-FB';
  src: url('./../../assets/fonts/Berlin-Sans-FB_6747.ttf') format('ttf');
}

@font-face {
  font-family: 'Novecentosanswide-DemiBold';
  src: url('./../../assets/fonts/Novecentosanswide-DemiBold-webfont.woff2') format('woff2'),
  url('./../../assets/fonts/Novecentosanswide-DemiBold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

//=============== COMMON =====================

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Novecentosanswide-DemiBold', sans-serif;
  background-color: #fefefe;
}

html {
  font-size: 10px;
}

body {
  background-color: $body-background;
  overflow-x: hidden;
}

.uppercase {
  text-transform: uppercase;
}

.green-text {
  color: $text_color1;
}

.white-text {
  color: white;
}

.black-text {
  color: black
}

h1 {
  font-size: $h1--fontSize;
}

h2 {
  font-size: $h2--fontSize;
}

h3 {
  font-size: $h3--fontSize;
}

.block-std {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.block__full-width {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.error__block{
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.error__block__message-wrapp{
  color: #a94442;
  background-color: #f2dede;
  overflow: hidden;
  font-family: Berlin-Sans-FB;
  font-size: 1.4rem;
  font-weight: 100;
  border-radius: 6px;
  padding: 15px 5px;
  min-width: 300px;
  display: flex;
  justify-content: space-around;
}

.error__block__message{
  background-color: #f2dede;
}

.error__block__message-link{
  color: #a94442;
  background-color: #f2dede;
  text-decoration: none;
}

.error__block__message-link:hover{
  text-decoration: underline;
}

@media only screen and (max-width: 1220px) {
  .block-std {
    padding: 0 5%;
  }

  .header__navbar-separator{
    margin: 0 5%;
  }

  h1{
    font-size: 2.2rem;
  }

}

@media only screen and (max-width: 686px) {

  .btn_mobile_view {
    width: 100%!important;
    max-width: 300px;
    margin: 0 10px;
  }

  .error__block{
    justify-content: center;
    flex-wrap: wrap;
  }

  .error__block__message-wrapp{
    justify-content: center;
  }
}