.footer {
  height: 70px;
  width: 100%;
  background-color: #efefef;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer--copyright-div {
  max-width: 50%;
  min-width: 320px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
}

.footer--home-btn-div{
  width: 50%;
  min-width: 320px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
  padding-right: 100px;
}

.footer-home-btn-btn{
  color: $text_color3;
  background-color: transparent;
  padding: 10px 0;
  border: 0;
  font-size: 1.2rem;
  cursor: pointer;
  //margin-right: 100px;
}

.footer-copyright-text{
  color: $text_color3;
  font-size: 1.2rem;
  font-weight: 100;
  background-color: transparent;
}

.footer__content-wrapper{
  background-color:#efefef;
  display: flex;
  flex-wrap: nowrap;
}


// ================= FOR MOBILE Screens ======================
@media only screen and (max-width: 686px) {
  .footer {
  height: auto;
  }

  .footer__content-wrapper{
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  .footer--copyright-div{
    justify-content: center;
    margin: 20px 0;
  }

  .footer--home-btn-div{
    justify-content: center;
    margin-top: 10px;
    padding-right: 0;
  }

}