.header__logo-social{
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  margin: 10px 0;
}

//.header__login, .header__login__wrapper, .header__login__block, .header__inputs-wrapper, .header__btn-wrapper {
//  background-color: $text_color1;
//}

.header__logo-wrapper{
  min-width: 309px;
  display: flex;
  justify-content: flex-start;
}

.header__logo{
  background-image:url('/assets/images/logo.png');
  width: 153px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
}


.header__wrapper__social{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  min-width: 309px;
  margin-top: 10px;
}

[class^='header__social']{
  background-repeat: no-repeat;
  background-size: contain;
  width: 33px;
  height: 33px;
  margin-left: 8px;
  min-width: 33px;
}


.header__social__tweeter {
  background-image: url('/assets/icons/twitter.png');
  cursor: pointer;
}
.header__social__tweeter:hover {
  background-image: url('/assets/icons/twitter-active.png');
}

.header__social__facebook{
  background-image: url('/assets/icons/facebook.png');
  cursor: pointer;
}
.header__social__facebook:hover{
  background-image: url('/assets/icons/facebook-active.png');
}

.header__social__rss{
  background-image: url('/assets/icons/rss.png');
  cursor: pointer;
}

.header__social__rss:hover{
  background-image: url('/assets/icons/rss-active.png');
}

.header__social__pinterest{
  background-image: url('/assets/icons/pinterest.png');
  cursor: pointer;
}
.header__social__pinterest:hover{
  background-image: url('/assets/icons/pinterest-active.png');
}

.header__social__googleplus{
  background-image: url('/assets/icons/googleplus.png');
  cursor: pointer;
}

.header__social__googleplus:hover{
  background-image: url('/assets/icons/googleplus-active.png');
}


.header__social__dribble{
  background-image: url('/assets/icons/dribble.png');
  cursor: pointer;
}

.header__social__dribble:hover{
  background-image: url('/assets/icons/dribble-active.png');
}


.header__navbar-separator{
  height: 1px;
  border-bottom:1px solid $text_color2;
}

.header__navbar{
  height: 80px;
}









.header__navbar__li{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.header__navbar__li{
  a {
    color: $text_color2;
    font-family: 'Berlin-Sans-FB' sans-serif;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 100;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
  }

  list-style: none;
  margin-right: 30px;
}

// ================= FOR MOBILE Screens ======================
@media only screen and (max-width: 686px) {

.header__logo-social{
 margin: 20px 0;
  justify-content: center;
}

  .header__logo-wrapper{
    justify-content: center;
  }

  .header__wrapper__social{
    justify-content: center;
  }

  .header__navbar {
    height: 80px;
    display: flex;
    justify-content: center;
    .header__navbar__li{
      margin: 0 25px;
    }

  }

}

