.header__login, .header__login__wrapper, .header__login__block, .header__inputs-wrapper, .header__btn-wrapper, .header__login__alertMsgUp, .header__login__alertMsgDown, .header__login__loged-div, .header__login__block-wrapper, .header__login__pass-change-wrapper {
  background-color: $text_color1;
}

.header__login {
  height: 100px;
}

.header__login__wrapper {
  justify-content: space-between;
  align-content: stretch;
  display: flex;
  height: inherit;
  flex-wrap: nowrap;
}

.header__login__block {
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
  min-width: 320px;
  margin-top: 5px;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.header__login__block-wrapper{
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
  //min-width: 325px;
  //margin-top: 20px;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 320px;
}

.header__login-text {
  background-color: $text_color1;
  min-width: 310px;
  width: 50%;
}

.header__login__btn {
  font-size: 1.5rem;
  color: $text_color1;
  background-color: white;
  width: 85px;
  height: 40px;
  border: none;
  cursor: pointer;
  font-family: 'Berlin-Sans-FB' sans-serif;
  text-transform: uppercase;
  font-weight: 100;
}

[class^="header__login__input"] {
  width: 100px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  margin-right: 20px;
  color: white;
  padding-left: 7px;
  font-family: 'Berlin-Sans-FB';
  font-size: 1.4rem;

}

//======== input placeholder properties ===========
[class^="header__login__input"]::-webkit-input-placeholder { /* Chrome */
  color: white;
}

[class^="header__login__input"]:-ms-input-placeholder { /* IE 10+ */
  color: white;
}

[class^="header__login__input"]::-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: 1;
}

[class^="header__login__input"]:-moz-placeholder { /* Firefox 4 - 18 */
  color: white;
  opacity: 1;
}

.header__inputs-wrapper {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.header__login__alertmsg-wrapper {
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}


.header__login__loged-div {
  display: none;
  color: white;
  font-family: Berlin-Sans-FB;
  font-size: 1.8rem;
  padding: 15px;
}

// ========== alert login message =========

.alert-danger{
  color: #a94442;
  background-color: #f2dede;
}


.alert-info{
  color: #3c763d;
  background-color: #dff0d8;
}

//#info-msg{
//  color: #3c763d;
//  background-color: #dff0d8;
//}

.header__login__alertMsgUp, .header__login__alertMsgDown {
  //width: 0;
  height: 0;
  overflow: hidden;
  font-family: Berlin-Sans-FB;
  font-size: 1.4rem;
  border-radius: 4px;
  //padding-left: 0px;
  padding-bottom: 0px;
  //padding: 0 15px;
  min-width: 300px;
  overflow: hidden;
  padding-left: 7px;
  border: 0;
  -webkit-transition: height 0.8s linear;
  -moz-transition: height 0.8s linear;
  -o-transition: height 0.8s linear;
  transition: height 0.8s linear;
}


.header__login__alertMsgDown {
  width: 100%;
  //min: 300px;
  height: 20px;
  //padding: 15px 15px;
  border-width: 1px;
  //padding-left: 7px;
  padding-bottom: 5px;
}

.header__login__pass-change-wrapper{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 10px;
  a {
    font-size: 1.2rem;
    background-color: transparent;
    color: white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}



// ================= FOR MOBILE Screens ======================
@media only screen and (max-width: 686px) {
  .header__login {
    height: auto;
  }

  .header__login__wrapper {
    justify-content: center;
    flex-wrap: wrap;
    //height: 180px;
    padding: 0 10px;
    margin: 40px 0;
  }

  .header__login__block{
    justify-content: center;
    flex-wrap: wrap;
  }

  [class^="header__login__input"] {
    width: 100%;
    font-size: 2rem;
    margin: 10px 0;
    padding: 0 10px;
  }

  .header__login-text {
    padding-bottom: 20px;
    text-align: center;
    font-size: 2.4rem;
    width: 100%;
  }

  .header__login__block {
    flex-wrap: wrap;
    min-width: 320px;
    justify-content: center;
    padding: inherit;
  }

  .header__inputs-wrapper {
    width: 100%;
    max-width: 400px;
    padding: 0 10px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .header__btn-wrapper {
    align-items: center;
    min-width: 320px;
    justify-content: center;
    display: flex;
    margin-top: 20px;
    padding: 0 10px;
  }
  .header__login__pass-change-wrapper{
    justify-content: center;
  }

  .header__login__alertmsg-wrapper {
    justify-content: center;
    flex-wrap: wrap;
  }

}