<div class="footer">
    <div class="block-std">
        <div class="footer--copyright-div">
        <span class="footer-copyright-text uppercase">
            Copyright 2013 Display. All Rights Reserved.
        </span>
        </div>
        <div class="footer--home-btn-div">
            <button class="footer-home-btn-btn uppercase">home / contact</button>
        </div>
    </div>
</div>