<div class="header block__full-width">
    <div class="header__logo-social block-std">
        <div class="header__logo">

        </div>
        <div class="header__wrapper__social">
            <div class="header__social__tweeter"></div>
            <div class="header__social__facebook"></div>
            <div class="header__social__facebook"></div>
            <div class="header__social__facebook"></div>
            <div class="header__social__facebook"></div>
            <div class="header__social__facebook"></div>
        </div>
    </div>
    <div class="header__navbar-separator block-std"></div>
    <div class="header__navbar block-std">
        <ul class="header__navbar__li">
            <li class="header__navbar__li"><a href="/">home</a></li>
            <li class="header__navbar__li"><a href="/contact">contact</a></li>
        </ul>
    </div>
    <div class="header__login block__full-width">
        <div class="header__login__wrapper block-std">
            <h1 class="header__login-text uppercase white-text">check out our work</h1>
            <div class="header__login__block">
                <input type="text" class="header__login__input-username">
                <input type="text" class="header__login__input-pass">
                <button class="header__login__btn uppercase green-text">Login in</button>
            </div>
        </div>
    </div>
</div>

