
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="./views/general.css">
    <title>Display</title>
     <!--&lt;!&ndash;Latest compiled and minified CSS &ndash;&gt;-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
          <!--integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->

    <!--&lt;!&ndash; Optional theme &ndash;&gt;-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"-->
          <!--integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->

    <!--&lt;!&ndash; Latest compiled and minified JavaScript &ndash;&gt;-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"-->
            <!--integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"-->
            <!--crossorigin="anonymous"></script>-->

    <link rel="stylesheet" href="./views/all.css">
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>
    <script src="./views/header.js"></script>
    <script src="./views/footer.js"></script>
    <script src="./views/project-content.js"></script>
    <script src="./views/portfolio.js"></script>
    <script src="./views/contact.js"></script>
    <script src="./views/login-block.js"></script>
    <!--&lt;!&ndash;Header support files&ndash;&gt;-->
    <!--<link rel="stylesheet" href="./views/header.css">-->
    <!--&lt;!&ndash;<script src="./views/login.js"></script>&ndash;&gt;-->

    <!--&lt;!&ndash;Portfolio support files&ndash;&gt;-->
    <!--<link rel="stylesheet" href="./views/portfolio.css">-->
    <!--&lt;!&ndash;<script src="./views/login.js"></script>&ndash;&gt;-->

    <!--&lt;!&ndash;Footer support files&ndash;&gt;-->
    <!--<link rel="stylesheet" href="./views/footer.css">-->
    <!--&lt;!&ndash;<script src="./views/login.js"></script>&ndash;&gt;-->

    <!--&lt;!&ndash;New project support files&ndash;&gt;-->
    <!--<link rel="stylesheet" href="./views/new_project.css">-->
    <!--&lt;!&ndash;<script src="./views/login.js"></script>&ndash;&gt;-->

    <!--&lt;!&ndash;Info project support files&ndash;&gt;-->
    <!--<link rel="stylesheet" href="./views/info_project.css">-->
    <!--&lt;!&ndash;<script src="./views/login.js"></script>&ndash;&gt;-->

    <!--&lt;!&ndash;Info project support files&ndash;&gt;-->
    <!--<link rel="stylesheet" href="./views/info_project.css">-->
    <!--&lt;!&ndash;<script src="./views/login.js"></script>&ndash;&gt;-->

    <!--&lt;!&ndash;Info Contacts support files&ndash;&gt;-->
    <!--<link rel="stylesheet" href="./views/contacts.css">-->
    <!--&lt;!&ndash;<script src="./views/login.js"></script>&ndash;&gt;-->

</head>