<div class="header block__full-width">
    <div class="header__logo-social block-std">
        <div class="header__logo-wrapper">
            <a href="/"><div class="header__logo"></div></a>
        </div>

        <div class="header__wrapper__social">
            <a href="http://twitter.com" target="_blank"><div class="header__social__tweeter"></div></a>
            <a href="http://www.facebook.com" target="_blank"><div class="header__social__facebook"></div></a>
            <a href="http://rss.com" target="_blank"><div class="header__social__rss"></div></a>
            <a href="http://pinterest.com" target="_blank"><div class="header__social__pinterest"></div></a>
            <a href="http://plus.google.com" target="_blank"><div class="header__social__googleplus"></div></a>
            <a href="http://dribbble.com" target="_blank"><div class="header__social__dribble"></div></a>
        </div>
    </div>
    <div class="header__navbar-separator block-std"></div>
    <div class="header__navbar block-std">
        <ul class="header__navbar__li" id="header__navbar">
            <li class="header__navbar__li"><a href="/">home</a></li>
            <li class="header__navbar__li"><a href="/contact">contact</a></li>
        </ul>
    </div>
</div>


