<head>
    <link rel="icon" href="/views/favicon.png" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>

    <title>Display</title>


    <link rel="stylesheet" href="/views/all.css">
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>
    <script src="/views/header.js"></script>
    <script src="/views/footer.js"></script>
    <script src="/views/project-content.js"></script>
    <script src="/views/portfolio.js"></script>
    <script src="/views/contact.js"></script>
    <script src="/views/login-block.js"></script>
    <script src="/views/login-page.js"></script>
    <script src="/views/inf-project-content.js"></script>
    <script src="/views/categories-block.js"></script>
    <script src="/views/reset-pass.js"></script>
    <script src="/views/change-pass.js"></script>

</head>