<div class="prj-content block__full-width">
    <div class="prj__title-wrapper block__full-width">
        <div class="prj__title__text-wrapper block-std">
            <h1 class="prj__title__text-wrapper uppercase white-text">check out our work</h1>
        </div>
    </div>
    <%- include('./categories-block.ejs') %>
    <div class="info-prj__content block__full-width">
            <div class="block-std">
                <div class="prj__content-wrapper">

                    <div class="prj__content__img file-upload " id="prj__content__img">

                        <label>
                            <img src="" alt="" id="output">
                            <!--<input type="file" name="uploadedFile" id="uploade-file" onchange="getFileName(event)">-->
                        </label>
                    </div>
                        <div class="info-prj__content__body">
                            <div class="info-prj__content__body-title" id="prj__content__body-title"></div>
                            <div class="info-prj__content__body-author-wrapper" >
                                <div class="info-prj__content__body-author-img"></div>
                                <div class="info-prj__content__body-author" id="prj__content__body-author"></div>
                            </div>
                            <div class="info-prj__content__body-separator"></div>
                            <div class="info-prj__content__body-date-wrapper" >
                                <div class="info-prj__content__body-date-img"></div>
                                <div class="info-prj__content__body-date" id="prj__content__body-date"></div>
                            </div>
                            <div class="info-prj__content__body-separator"></div>

                        </div>
                </div>
                <div class="prj__content__description-wrapper">
                    <div class="info-prj__content__body-Description" id="prj__content__body-Description"></div>
                </div>


            </div>

    </div>
</div>
<script>
    onInfoProjectContentLoad('edit',<%= id %>);
</script>