
<%- include('./head.ejs') %>
    <link rel="stylesheet" href="./views/login.css">
    <script src="./views/login.js"></script>
    <title>Display. Login</title>
</head>

<body>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Login form</div>
        <div class="panel-body">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Username</span>
                    <input type="text" class="form-control" id="loginInput">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Password</span>
                    <input type="password" class="form-control" id="passInput">
                </div>
            </div>
            <div class="alert alert-danger alertMsgUp" role="alert" id="alert-msg"></div>
            <div class="alert alert-info alertMsgUp" role="alert" id="info-msg"></div>

            <div class="form-group">
                <a class="btn btn-success" onclick="signUp()">Sign up</a>
                <a class="btn btn-success" onclick="login()">Log in</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>