<div class="portfolio block__full-width">
    <div class="block-std">
        <div class="portfolio__navbar">
            <div class="portfolio__navbar__item-1" onclick="onCategoryClick(event)">all</div>
            <div class="portfolio__navbar__slash">/</div>
            <div class="portfolio__navbar__item-2" onclick="onCategoryClick(event)">print</div>
            <div class="portfolio__navbar__slash">/</div>
            <div class="portfolio__navbar__item-3" onclick="onCategoryClick(event)">photography</div>
            <div class="portfolio__navbar__slash">/</div>
            <div class="portfolio__navbar__item-4" onclick="onCategoryClick(event)">web</div>
            <div class="portfolio__navbar__slash">/</div>
            <div class="portfolio__navbar__item-5" onclick="onCategoryClick(event)">applications</div>
        </div>
        <div class="portfolio__images-wrapper" id="portfolio__images-wrapper">

        </div>
    </div>
</div>
<div class="portfolio__images__float-block" id="portfolio__images__float-block" onmouseleave="hidePrjDetails(event)">
    <div class="portfolio__images__float__btn-wrapper">
        <div class="portfolio__images__float-btn-edit" onclick="editProject()"></div>
        <div class="portfolio__images__float-btn-info" onclick="infoProject()"></div>
        <div class="portfolio__images__float-btn-delete" onclick="deleteProject()"></div>
    </div>
</div>