<div class="pre-footer">
    <div class="pre-footer__content-wrapper block-std">
        <div class="pre-footer-div">
        <span class="pre-footer-text uppercase">
            Are you impressed by our creativity?
        </span>
        </div>
        <div class="pre-footer--btn-div">
            <div class="pre-footer-btn-div-wrapper btn_mobile_view">
                <a class="pre-footer--btn-btn uppercase " href="/contact">Contact us right now</a>
            </div>
        </div>
    </div>
</div>