<div class="prj-content block__full-width">
    <div class="prj__title-wrapper block__full-width">
        <div class="prj__title__text-wrapper block-std">
            <h1 class="prj__title__text-wrapper uppercase white-text"><%= prjTitle %></h1>
        </div>
    </div>
    <div class="prj__content block__full-width">
        <form onload="cleanUpPrjInputs ();" onsubmit="onNewPrjSubmit(event)" action="/upload" method="POST" enctype="multipart/form-data" >
            <div class="block-std">
                <div class="prj__content-wrapper">

                    <div class="prj__content__img file-upload " id="prj__content__img">

                        <label>
                            <img src="" alt="" id="output">
                            <input type="file" name="uploadedFile" id="uploade-file" onchange="getFileName(event)">
                        </label>
                    </div>
                        <div class="prj__content__body">
                            <input type="text" class="prj__content__body-title" id="prj__content__body-title" placeholder="Porject title" name="title">
                            <input type="text" class="prj__content__body-author" id="prj__content__body-author" placeholder="Porject author" name="author">
                            <input type="text" class="prj__content__body-Category" id="prj__content__body-Category" placeholder="Category" name="category">
                        </div>
                </div>
                <div class="prj__content__description-wrapper">
                    <textarea cols="10" rows="1" type="text" class="prj__content__body-Description" id="prj__content__body-Description"
                              placeholder="Description" name="description"></textarea>
                </div>

                <div class="prj__content__btn-wrapper">
                    <button type="submit" class="prj__content__btn uppercase white-text btn_mobile_view">Done</button>
                    <div class="prj__content__err__submit" id="prj__content__err__submit">Please enter all fields before submit</div>
                </div>
            </div>
        </form>
    </div>
</div>
