<div class="prj-content block__full-width" onload="initData(<%= type %>)">
    <div class="prj__title-wrapper block__full-width">
        <div class="prj__title__text-wrapper block-std">
            <h1 class="prj__title__text-wrapper uppercase white-text"><%= prjTitle %></h1>
        </div>
    </div>
    <div class="prj__content block__full-width">
        <div class="block-std">
            <div class="prj__content-wrapper">
                <div class="prj__content__img"><img src="./../assets/icons/plus-btn.png" alt=""></div>
                <div class="prj__content__body">
                    <input type="text" class="prj__content__body-title" placeholder="Porject title">
                    <input type="text" class="prj__content__body-author" placeholder="Porject author">
                    <input type="text" class="prj__content__body-Category" placeholder="Category">
                </div>
            </div>
            <div class="prj__content__description-wrapper">
                <textarea  cols="10" rows="1" type="text" class="prj__content__body-Description" placeholder="Description"></textarea>
            </div>
            <div class="prj__content__btn-wrapper">
                <button class="prj__content__btn uppercase white-text btn_mobile_view">Done</button>
            </div>
        </div>
    </div>
</div>
