<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <style>
        h4 {color:#2ecc71;}
        p {color:#737373;}
        table, th, td {
            border: 1px solid black;
            color: #737373;
        }
    </style>
</head>
<body>

<h3>Dear <%= userName %></h3>
<p> You requested change your password on site display.com</p>
<p> If it were you follow this <a href="<%= msg %>">link</a></p>
<p> If not, just ignor this email</p>
<br>

<br>
<h4>Regards,</h4>
<h4>Display team</h4>
<img src="cid:logo.png"/>

</body>
</html>