<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <style>
        h5 {color:#2ecc71;}
        p {color:#737373;}

    </style>
</head>
<body>
<h3>Dear <b><%= userName %></b></h3>
<p>thank you for your interest.</p>
<br>
<p>Your request on display.com has been received.</p>
<p>We will contact you ASAP to assist in solving your question</p>
<br>
<h4>Request content:</h4>
<p><b>Subject: </b><%= subject %></p>
<p><b>Message: </b><%= msg %></p>
<br>
<h5>Regards,</h5>
<h5>Display team</h5>
<img src="cid:logo.png"/>

</body>
</html>